---
# Page layout for blog posts

# Supported page variables:
# banner-show: Banner will be shown if true (default = true)
# banner-image: Path to banner image
# banner-img-position: Vertical position of the image in the banner (Can be top or bottom).
# NOTE:
#    Page title is used for banner title
#    Page sub-title is used for banner text
---

<!DOCTYPE html>
<html lang="{{ page.language | default: site.language | default: 'en' }}">

{% include head.html %}

<body>
  {% include navigation-bar.html %}
  {% if page.banner-show %}
    {% include ptl-hero-banner.html image=page.banner-image title=page.title text=page.sub-title img-position=page.banner-img-position %}
  {% endif %}
  <main class="w3-container">
    <div class="w3-row">
      <div class="w3-container w3-half">
        {% if page.previous.url %}
          <a href="{{page.previous.url}}">&laquo; {{page.previous.title}}</a>
        {% endif %}
      </div>
      <div class="w3-container w3-half">
        {% if page.next.url %}
          <a href="{{page.next.url}}">{{page.next.title}} &raquo;</a>
        {% endif %}
      </div>
    </div>
    <p>Posted by {{ page.author }} on {{ page.date | date: "%B %-d, %Y" }}</p>
    {{ content }}
  </main>
  {% include footer.html %}
</body>
</html>


