@use "w3";

// =========================
// Vertical rhythm scale
// =========================
$ptl-space-xs: 0.5rem;   // 8px
$ptl-space-sm: 1rem;     // 16px
$ptl-space-md: 2rem;     // 32px
$ptl-space-lg: 3rem;     // 48px


// =========================
// Navigation theme
// =========================
.ptl-nav-bg-color {
  @extend .w3-dark-gray;
}
.ptl-nav-bg-active {
  @extend .w3-blue-gray;
}
.ptl-nav-bg-hover {
  @extend .w3-hover-grey; // Must be a w3-hover class
}


// =========================
// Button theme
// =========================
.ptl-btn-bg {
  @extend .w3-dark-gray;
  @extend .w3-text-white;
}

.ptl-btn-bg-hover {
  @extend .w3-hover-grey; // hover state
}


// =========================
// Hero Banner
// =========================
.ptl-banner-bg-color {
  @extend .w3-blue-gray;
}


// =========================
// General HTML elements
// =========================
.ptl-page h1,
.ptl-page h2,
.ptl-page h3,
.ptl-page h4 {
  @extend .w3-text-brown;
  font-family: "Helvetica Narrow", "Arial Narrow", sans-serif;
  font-variant: small-caps;
  font-weight: bold;
}


// =========================
// Footer
// =========================
.ptl-footer-bg-color {
  @extend .w3-dark-gray;
}
.ptl-footer-text-color {
  @extend .w3-text-white;
}
.ptl-page footer h2 {
  @extend .ptl-footer-text-color; // Override default header colour
}


// =========================
// Table borders
// =========================
// All borders visible
.ptl-page table {
  border:2px solid #000000;
}
.ptl-page th {
  border:2px solid #000000;
}
.ptl-page td {
  border:1px solid #000000;
}
